/* ********** */
/* who are we section */
#who-are-we {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
}

.who-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
    text-align: right;
}

.who-content h1 {
    font-size: 7rem;
    max-width: 600px;
    margin-top: -5rem;
    /* line-height: 5rem; */
}

.who-image img {
    position: absolute;
    width: 800px;
    top: 150px;
    left: 0;
}

/* submission form section */

#submission-form {
    padding-left: 5rem;
    margin-top: -5rem;
    font-size: large;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#contact-form {
    /* display: flex; */
    gap: 1rem;
}

#contact-form input {
    font-family: var(--bold-font);
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #356DFF;
    padding: 0 2rem;
    margin-bottom: 1rem;
}


#contact-form label {
    display: block;
    font-family: var(--bold-font);
}

#contact-form textarea {
    font-family: var(--bold-font);
    width: 400px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #356DFF;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

#contact-form input[type="submit"] {
    color: white;
    font-family: var(--bold-font);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #356DFF;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

/* filtration section */
#filtration-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: relative;
}

#filtration-form select {
    font-family: var(--bold-font);
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #356DFF;
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: center;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

#filtration-form input[type="submit"] {
    border-color: transparent;
    color: white;
    font-family: var(--bold-font);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #356DFF;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

#filtration-form input[type="text"] {
    font-family: var(--bold-font);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #356DFF;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

/* filtration map section */
#filtration-map {
    margin-top: 5rem;
    height: 700px;
}

#map {
    height: 100%;
    width: 900px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}